USE [Shop]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 18.05.2025 3:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[idOrder] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [int] NULL,
	[isDelete] [bit] NULL,
	[orderDate] [date] NULL,
	[totalPrice] [decimal](18, 0) NULL,
	[deliveryAddress] [nvarchar](50) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[idOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 18.05.2025 3:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[idDetail] [int] IDENTITY(1,1) NOT NULL,
	[idOrder] [int] NULL,
	[idToy] [int] NULL,
	[quantity] [int] NULL,
	[subTotal] [decimal](18, 0) NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[idDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Toy]    Script Date: 18.05.2025 3:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Toy](
	[idToy] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[price] [decimal](18, 0) NULL,
	[image] [nvarchar](max) NULL,
	[IsSelected] [bit] NULL,
	[age] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL,
	[comment] [nvarchar](max) NULL,
	[isDelete] [bit] NULL,
	[category] [nvarchar](50) NULL,
 CONSTRAINT [PK_Toy] PRIMARY KEY CLUSTERED 
(
	[idToy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccount]    Script Date: 18.05.2025 3:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccount](
	[idUser] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[fam] [nvarchar](50) NULL,
	[number] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[login] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[isDelete] [bit] NULL,
 CONSTRAINT [PK_UserAccount] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Toy] ON 

SET IDENTITY_INSERT [dbo].[Toy] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAccount] ON 

INSERT [dbo].[UserAccount] ([idUser], [name], [fam], [number], [email], [login], [password], [isDelete]) VALUES (1, N'Ольга', N'Кузнецова', N'89663747832', N'olga@mail.ru', N'1', N'1', 0)
INSERT [dbo].[UserAccount] ([idUser], [name], [fam], [number], [email], [login], [password], [isDelete]) VALUES (2, N'Маргарита', N'Степанова', N'82663747642', N'margo@mail.ru', N'2', N'2', 0)
INSERT [dbo].[UserAccount] ([idUser], [name], [fam], [number], [email], [login], [password], [isDelete]) VALUES (3, N'Степан', N'Фролов', N'89635473456', N'stepa433@mail.ru', N'3', N'3', 0)
SET IDENTITY_INSERT [dbo].[UserAccount] OFF
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_UserAccount] FOREIGN KEY([idUser])
REFERENCES [dbo].[UserAccount] ([idUser])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_UserAccount]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Order1] FOREIGN KEY([idOrder])
REFERENCES [dbo].[Order] ([idOrder])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Order1]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Toy] FOREIGN KEY([idToy])
REFERENCES [dbo].[Toy] ([idToy])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Toy]
GO
